@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Milonga:400|Public+Sans:300,500,100");
.forgot-password-desktop {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 1440px;
}
.forgot-password-desktop .back-to-login {
  letter-spacing: 0px;
  margin-top: 67px;
  min-height: 48px;
  pointer-events: auto;
  text-decoration: underline;
  transition: all 0.2s ease;
  width: 230px;
}
.forgot-password-desktop .back-to-login:hover {
  transform: scale(1.1);
}
.forgot-password-desktop .background {
  align-items: flex-start;
  display: flex;
  height: 1024px;
  left: 0px;
  min-width: 1440px;
  position: absolute;
  top: 0px;
}
.forgot-password-desktop .button-next {
  height: 58px;
  margin-left: 52px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 158px;
}
.forgot-password-desktop .button-next:hover {
  transform: scale(1.05);
}
.forgot-password-desktop .button-send {
  height: 60px;
  margin-right: 13.82px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 167px;
}
.forgot-password-desktop .button-send:hover {
  transform: scale(1.05);
}
.forgot-password-desktop .code-input {
  align-items: flex-start;
  display: flex;
  height: 71px;
  margin-right: 45px;
  margin-top: 35px;
  min-width: 414px;
}
.forgot-password-desktop .dont-worry {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 726px;
  min-height: 651px;
  position: absolute;
  top: 236px;
  width: 589px;
}
.forgot-password-desktop .dont-worry-1 {
  letter-spacing: 0px;
  margin-right: 4px;
  min-height: 70px;
  text-align: center;
  width: 585px;
}
.forgot-password-desktop .email-input {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/608030701c8a2ea23ed1e59b/img/rectangle-7-3@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 71px;
  justify-content: flex-end;
  margin-right: 45px;
  margin-top: 70px;
  min-width: 414px;
  padding: 20px 20px;
}
.forgot-password-desktop .epotcom {
  letter-spacing: 0px;
  line-height: 46.6px;
  margin-right: 171.61px;
  min-height: 69px;
  width: 258px;
}
.forgot-password-desktop .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 176px;
  width: 230px;
}
.forgot-password-desktop .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 176px;
  margin-left: 15.76px;
  margin-top: 54px;
  min-width: 441px;
}
.forgot-password-desktop .forgot-password {
  height: 217px;
  margin-left: 8px;
  margin-top: 55px;
  width: 487px;
}
.forgot-password-desktop .overlap-group {
  height: 1024px;
  position: relative;
  width: 1440px;
}
.forgot-password-desktop .overlap-group1 {
  height: 61px;
  position: relative;
  width: 170px;
}
.forgot-password-desktop .overlap-group2 {
  height: 59px;
  position: relative;
  top: -1px;
  width: 161px;
}
.forgot-password-desktop .overlap-group3 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/608030701c8a2ea23ed1e59b/img/rectangle-7-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  margin-top: -0.5px;
  min-width: 414px;
  padding: 20.5px 20px;
}
.forgot-password-desktop .rectangle-1 {
  background-color: var(--downy);
  height: 1024px;
  left: 721px;
  position: absolute;
  top: 0px;
  width: 719px;
}
.forgot-password-desktop .rectangle-2 {
  height: 450px;
  margin-right: 4px;
  margin-top: 38px;
  object-fit: cover;
  width: 657px;
}
.forgot-password-desktop .rectangle-5 {
  height: 61px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 168px;
}
.forgot-password-desktop .rectangle-5-1 {
  height: 59px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 159px;
}
.forgot-password-desktop .rectangle-8 {
  background-color: var(--java);
  height: 847px;
  left: 125px;
  position: absolute;
  top: 99px;
  width: 1184px;
}
.forgot-password-desktop .rectangle-9 {
  background-color: var(--white);
  height: 1023px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.forgot-password-desktop .text-1 {
  letter-spacing: 0px;
  margin-right: 4px;
  margin-top: 36px;
  min-height: 67px;
  width: 585px;
}
.forgot-password-desktop .text-i6159 {
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 30px;
  letter-spacing: 0px;
  line-height: 32.5px;
  padding: 0;
  pointer-events: auto;
  resize: none;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 363px;
}
.forgot-password-desktop .text-i6159643470 {
  height: 60px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40.6px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  top: 0px;
  width: 169px;
}
.forgot-password-desktop .text-i6159743470 {
  height: 58px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40.6px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  top: 1px;
  width: 160px;
}
.forgot-password-desktop .text-i6159::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.forgot-password-desktop .text-i6159:hover {
  transform: translate(-5px, 0);
}
.forgot-password-desktop .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 69px;
  min-height: 831px;
  position: absolute;
  top: 131px;
  width: 661px;
}
* {
  box-sizing: border-box;
}
.milonga-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-milonga);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 400;
}
.publicsans-light-black-64px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}
.publicsans-medium-cod-gray-30px {
  color: var(--cod-gray);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 500;
}
.publicsans-thin-black-24px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 100;
}
.publicsans-thin-black-30px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 100;
}
.publicsans-thin-vista-white-24px {
  color: var(--vista-white-2);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 100;
}
:root {
  --black: rgba(0, 0, 0, 1);
  --cod-gray: rgba(10, 10, 10, 1);
  --downy: rgba(117, 208, 208, 1);
  --font-family-milonga: "Milonga", Helvetica;
  --font-family-public_sans: "Public Sans", Helvetica;
  --font-size-24px: 24px;
  --font-size-l2: 30px;
  --font-size-xl2: 36px;
  --font-size-xxl: 64px;
  --java: rgba(15, 188, 188, 0.94);
  --vista-white-2: rgba(255, 248, 248, 1);
  --white: rgba(255, 255, 255, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
