@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Public+Sans:500,100");
.login-desktop {
  align-items: flex-start;
  background-color: var(--concrete);
  display: flex;
  width: 1440px;
}
.login-desktop .background {
  align-items: flex-start;
  display: flex;
  height: 1024px;
  left: 0px;
  min-width: 1440px;
  position: absolute;
  top: 0px;
}
.login-desktop .epot {
  height: 168px;
  left: 175px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.login-desktop .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 671px;
  width: 469px;
}
.login-desktop .flex-row {
  align-items: flex-start;
  display: flex;
  height: 33px;
  margin-top: 28px;
  min-width: 469px;
}
.login-desktop .forgot-password {
  color: rgba(255, 248, 248, 0.8);
  font-family: "Public Sans-ExtraLight", Helvetica;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 32.5px;
  min-height: 33px;
  min-width: 199px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}
.login-desktop .group-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 113px;
  min-height: 877px;
  position: absolute;
  top: 146px;
  width: 678px;
}
.login-desktop .group-2 {
  align-items: flex-end;
  display: flex;
  height: 671px;
  left: 806px;
  min-width: 530px;
  position: absolute;
  top: 146px;
}
.login-desktop .icon {
  height: 43px;
  width: 43px;
}
.login-desktop .input-with-icon {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/60800d130f89b2cce0ddf1d2/img/background@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: 110px;
  min-width: 467px;
  padding: 15px 16px;
}
.login-desktop .login-button {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/60800d130f89b2cce0ddf1d2/img/rectangle-5-2@2x.svg);
  background-size: 100% 100%;
  height: 74px;
  margin-right: 2px;
  margin-top: 52px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 467px;
}
.login-desktop .login-button:hover {
  transform: scale(1.1);
}
.login-desktop .login-gg-button {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/60800d130f89b2cce0ddf1d2/img/rectangle-5-1@2x.svg);
  background-size: 100% 100%;
  height: 74px;
  margin-right: 2px;
  margin-top: 35px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 467px;
}
.login-desktop .login-gg-button:hover {
  transform: scale(1.1);
}
.login-desktop .or {
  letter-spacing: 0px;
  margin-bottom: 19px;
  min-height: 35px;
  min-width: 31px;
}
.login-desktop .overlap-group {
  height: 1024px;
  position: relative;
  width: 1440px;
}
.login-desktop .overlap-group2 {
  height: 605px;
  margin-right: 4px;
  margin-top: 48px;
  position: relative;
  width: 674px;
}
.login-desktop .password-input {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/60800d130f89b2cce0ddf1d2/img/background@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: 20px;
  min-width: 467px;
  padding: 15px 16px;
}
.login-desktop .rectangle-1 {
  background-color: var(--downy);
  height: 1024px;
  left: 770px;
  position: absolute;
  top: 0px;
  width: 670px;
}
.login-desktop .rectangle-8 {
  background-color: var(--java);
  height: 871px;
  left: 113px;
  position: absolute;
  top: 86px;
  width: 1255px;
}
.login-desktop .rectangle-9 {
  background-color: var(--white);
  height: 1023px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.login-desktop .sign-up {
  color: var(--vista-white);
  font-family: "Public Sans-ExtraLight", Helvetica;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 32.5px;
  margin-left: 178px;
  min-height: 33px;
  min-width: 92px;
  pointer-events: auto;
  text-align: center;
  text-decoration: underline;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.login-desktop .sign-up:hover {
  transform: scale(1.1);
}
.login-desktop .text-i615 {
  height: 74px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40.6px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  top: 0px;
  width: 469px;
}
.login-desktop .text-i6152 {
  align-self: center;
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 39px;
  letter-spacing: 0px;
  line-height: 40.6px;
  margin-left: 15px;
  margin-top: 1px;
  padding: 0;
  pointer-events: auto;
  resize: none;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 365px;
}
.login-desktop .text-i6152::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.login-desktop .text-i6152:hover {
  transform: translate(-5px, 0);
}
.login-desktop .text-i6152:focus {
  outline: none;
}
.login-desktop .title {
  letter-spacing: 0px;
  line-height: 86.7px;
  margin-right: 1px;
  min-height: 97px;
  text-align: center;
  white-space: nowrap;
  width: 338px;
}
.login-desktop .vector {
  height: 513px;
  left: 44px;
  position: absolute;
  top: 92px;
  width: 630px;
}
.login-desktop .vector-1 {
  height: 513px;
  left: 0px;
  position: absolute;
  top: 73px;
  width: 630px;
}
.login-desktop .welcome-to {
  height: 197px;
  margin-left: 49.49px;
  width: 406px;
}
* {
  box-sizing: border-box;
}
.publicsans-medium-asphalt-30px {
  color: var(--asphalt);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 500;
}
.publicsans-medium-cod-gray-30px {
  color: var(--cod-gray);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 500;
}
.publicsans-medium-licorice-64px {
  color: var(--licorice);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}
.publicsans-thin-black-30px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 100;
}
:root {
  --asphalt: rgba(18, 10, 10, 1);
  --black: rgba(0, 0, 0, 1);
  --cod-gray: rgba(10, 10, 10, 1);
  --concrete: rgba(243, 243, 243, 1);
  --downy: rgba(117, 208, 208, 1);
  --font-family-public_sans: "Public Sans", Helvetica;
  --font-family-public_sans-extralight: "Public Sans-ExtraLight", Helvetica;
  --font-size-24px: 24px;
  --font-size-l2: 30px;
  --font-size-xxl: 64px;
  --java: rgba(15, 188, 188, 0.94);
  --licorice: rgba(20, 19, 19, 1);
  --vista-white: rgba(253, 248, 248, 1);
  --white: rgba(255, 255, 255, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
