@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Public+Sans:500,100|Milonga:400");
.register-desktop {
  align-items: flex-start;
  background-color: rgba(247, 241, 241, 1);
  display: flex;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}
.register-desktop .already-a-account {
  letter-spacing: 0px;
  line-height: 32.5px;
  min-height: 33px;
  min-width: 211px;
  text-align: center;
  white-space: nowrap;
}
.register-desktop .background {
  align-items: flex-start;
  display: flex;
  height: 1024px;
  left: 0px;
  min-width: 1440px;
  position: absolute;
  top: 0px;
}
.register-desktop .epot {
  height: 168px;
  left: 145px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.register-desktop .epotcom {
  letter-spacing: 0px;
  line-height: 46.6px;
  margin-right: 206.67px;
  min-height: 72px;
  width: 273px;
}
.register-desktop .group-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 91px;
  min-height: 890px;
  position: absolute;
  top: 137px;
  width: 688px;
}
.register-desktop .input {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/607ea7448905095dce87288a/img/rectangle-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  margin-top: 39px;
  min-width: 414px;
  padding: 20px 0;
}
.register-desktop .overlap-group {
  height: 1027px;
  margin-top: -1px;
  position: relative;
  width: 1440px;
}
.register-desktop .overlap-group1 {
  height: 1024px;
  position: relative;
  width: 1440px;
}
.register-desktop .overlap-group2 {
  height: 556px;
  margin-right: 6.5px;
  margin-top: 49px;
  position: relative;
  width: 683px;
}
.register-desktop .rectangle-1 {
  background-color: var(--downy);
  height: 1024px;
  left: 721px;
  position: absolute;
  top: 0px;
  width: 719px;
}
.register-desktop .rectangle-8 {
  background-color: var(--java);
  height: 888px;
  left: 80px;
  position: absolute;
  top: 73px;
  width: 1272px;
}
.register-desktop .rectangle-9 {
  background-color: var(--white);
  height: 1023px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1440px;
}
.register-desktop .sign-in {
  color: rgba(255, 250, 250, 1);
  font-family: "Public Sans", Helvetica;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0px;
  line-height: 32.5px;
  margin-left: 8px;
  min-height: 33px;
  min-width: 78px;
  pointer-events: auto;
  text-decoration: underline;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.register-desktop .sign-in-frame {
  align-items: center;
  align-self: center;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  margin-right: 1px;
  min-width: 315px;
  padding: 0 8px;
}
.register-desktop .sign-in:hover {
  transform: scale(1.1);
}
.register-desktop .sign-up {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 846px;
  min-height: 684px;
  position: absolute;
  top: 174px;
  width: 414px;
}
.register-desktop .sign-up-button {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/607ea4346b9d724abc2605c0/img/rectangle-5@2x.svg);
  background-size: 100% 100%;
  height: 74px;
  margin-top: 39px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 414px;
}
.register-desktop .sign-up-button:hover {
  transform: scale(1.05);
}
.register-desktop .text-i615 {
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 33px;
  letter-spacing: 0px;
  line-height: 32.5px;
  padding: 0;
  pointer-events: auto;
  resize: none;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 385px;
}
.register-desktop .text-i6154743162 {
  height: 74px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40.6px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  top: 0px;
  width: 416px;
}
.register-desktop .text-i615::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.register-desktop .text-i615:hover {
  transform: translate(-5px, 0);
}
.register-desktop .text-i615:focus {
  outline: none;
}
.register-desktop .title {
  letter-spacing: 0px;
  line-height: 86.7px;
  min-height: 100px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  width: 265px;
}
.register-desktop .vector {
  height: 533px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 630px;
}
.register-desktop .vector-1 {
  height: 532px;
  left: 54px;
  position: absolute;
  top: 24px;
  width: 629px;
}
.register-desktop .welcome-to {
  height: 197px;
  margin-right: 45.67px;
  margin-top: 16px;
  width: 406px;
}
* {
  box-sizing: border-box;
}
.milonga-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-milonga);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.publicsans-medium-cod-gray-30px {
  color: var(--cod-gray);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
.publicsans-medium-licorice-64px {
  color: var(--licorice);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}
.publicsans-thin-black-24px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 100;
}
:root {
  --black: rgba(0, 0, 0, 1);
  --cod-gray: rgba(10, 10, 10, 1);
  --downy: rgba(117, 208, 208, 1);
  --font-family-milonga: "Milonga", Helvetica;
  --font-family-public_sans: "Public Sans", Helvetica;
  --font-size-24px: 24px;
  --font-size-l: 30px;
  --font-size-xl: 36px;
  --font-size-xxl: 64px;
  --java: rgba(15, 188, 188, 0.94);
  --licorice: rgba(20, 19, 19, 1);
  --white: rgba(255, 255, 255, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
