@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Milonga:400|Public+Sans:400,500,100");
.reset-password-desktop {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1024px;
  width: 1440px;
}
.reset-password-desktop .background {
  align-items: flex-start;
  display: flex;
  height: 1008px;
  left: 0px;
  min-width: 1357px;
  position: absolute;
  top: 0px;
}
.reset-password-desktop .change-password-button {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/607ea4346b9d724abc2605c0/img/rectangle-5@2x.svg);
  background-size: 100% 100%;
  height: 74px;
  margin-left: 74px;
  margin-top: 53px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 414px;
}
.reset-password-desktop .change-password-button:hover {
  transform: scale(1.05);
}
.reset-password-desktop .edit-text-confirm-password {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/607ea7448905095dce87288a/img/rectangle-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  margin-left: 74px;
  margin-top: 24px;
  min-width: 414px;
  padding: 20px 20px;
}
.reset-password-desktop .edit-text-password {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607e92f15551a9ba11c316ad/releases/607ea7448905095dce87288a/img/rectangle-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  margin-left: 74px;
  margin-top: 107px;
  min-width: 414px;
  padding: 20px 20px;
}
.reset-password-desktop .epotcom {
  letter-spacing: 0px;
  line-height: 46.6px;
  margin-left: 9px;
  min-height: 72px;
  width: 642px;
}
.reset-password-desktop .overlap-group {
  height: 1008px;
  position: relative;
  width: 1357px;
}
.reset-password-desktop .rectangle-1 {
  background-color: var(--downy);
  height: 1008px;
  left: 640px;
  position: absolute;
  top: 0px;
  width: 717px;
}
.reset-password-desktop .rectangle-2 {
  height: 450px;
  margin-right: 4px;
  margin-top: 26px;
  object-fit: cover;
  width: 657px;
}
.reset-password-desktop .rectangle-8 {
  background-color: var(--java);
  height: 888px;
  left: 0px;
  position: absolute;
  top: 63px;
  width: 1269px;
}
.reset-password-desktop .reset-pass {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 643px;
  min-height: 566px;
  position: absolute;
  top: 234px;
  width: 630px;
}
.reset-password-desktop .reset-password {
  height: 217px;
  margin-left: 22px;
  margin-top: 61px;
  width: 430px;
}
.reset-password-desktop .text-1 {
  letter-spacing: 0px;
  margin-right: 2px;
  margin-top: 53px;
  min-height: 35px;
  text-align: center;
  width: 628px;
}
.reset-password-desktop .text-i6157 {
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 33px;
  letter-spacing: 0px;
  line-height: 32.5px;
  padding: 0;
  pointer-events: auto;
  resize: none;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 363px;
}
.reset-password-desktop .text-i6157543162 {
  height: 74px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 40.6px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  top: 0px;
  width: 416px;
}
.reset-password-desktop .text-i6157::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.reset-password-desktop .text-i6157:hover {
  transform: translate(-5px, 0);
}
.reset-password-desktop .text-i6157:focus {
  outline: none;
}
.reset-password-desktop .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 826px;
  position: absolute;
  top: 108px;
  width: 661px;
}
.reset-password-desktop .welcome {
  letter-spacing: 0px;
  margin-right: 2px;
  min-height: 72px;
  text-align: center;
  width: 628px;
}
* {
  box-sizing: border-box;
}
.milonga-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-milonga);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 400;
}
.publicsans-medium-cod-gray-30px {
  color: var(--cod-gray);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 500;
}
.publicsans-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
}
.publicsans-normal-black-64px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}
.publicsans-thin-black-24px {
  color: var(--black);
  font-family: var(--font-family-public_sans);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 100;
}
:root {
  --black: rgba(0, 0, 0, 1);
  --cod-gray: rgba(10, 10, 10, 1);
  --downy: rgba(117, 208, 208, 1);
  --font-family-milonga: "Milonga", Helvetica;
  --font-family-public_sans: "Public Sans", Helvetica;
  --font-size-24px: 24px;
  --font-size-l2: 30px;
  --font-size-xl2: 36px;
  --font-size-xxl: 64px;
  --java: rgba(15, 188, 188, 0.94);
  --white: rgba(255, 255, 255, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
